<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>tz-eterm-interface-web</display-name>
    
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>com.travelzen.etermface.service.util.TopsAppNameContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>appName</param-name>
        <param-value>tz-eterm-interface-web</param-value>
    </context-param>


    <!-- The definition of the Root Spring Container shared by all Servlets
        and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/eterm-interface-appctx.xml
        </param-value>
    </context-param>

    <!-- Character Encoding filter -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- spring mvc -->
    <servlet>
        <servlet-name>springDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/webApplicationContext.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springDispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- Servlets -->
    <!-- Old PnrParsers -->
	<servlet>
        <servlet-name>PnrContentParserServlet</servlet-name>
        <servlet-class>com.travelzen.etermface.web.servlet.PnrContentParserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PnrContentParserServlet</servlet-name>
        <url-pattern>/PnrContentParser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TopsPnrParserServlet</servlet-name>
        <servlet-class>com.travelzen.etermface.web.servlet.TopsPnrParserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopsPnrParserServlet</servlet-name>
        <url-pattern>/TopsPnrParser</url-pattern>
    </servlet-mapping>
    
    
    <!-- session 超时时间 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>